body{
    font: "Roboto";
}

img{
    border-radius: 25px;
}



ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding:20px;
}


.header{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    color: #F9FAF8;
    background-color: #1F2937;
}

.left--header{
    display: flex;
    flex-direction: column;
    padding:50px;
}

.sign--up{
    max-width: 90px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    padding:5px; 
    border:none; 
    border-radius: 3px;
}



.top{
    display:flex;
    justify-content: space-between;
}

.bottom{
    display: flex;
    
}

.container{
    display: flex;
    justify-content: space-around;
    
}

.info--container{
    max-width: 200px;
    text-align: center;
}


.pictures{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}


.quotes{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 30px;
    
}

.quote{
    font-size: 36px;
    font-weight: 300;
    padding:0px;
    margin:0px;
}

.alert--container{
    padding: 100px 300px;
}

.alert{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding:40px 80px;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: #1F2937;
    
    
}